<style type="text/css">
a:hover{
	text-decoration: none;
	color: yellow;
}
</style>
{{outlet}}
<div class="container">
{{#each model as |disease|}}
	<a href="/health_records/{{disease.disease_diagnosed}}">{{disease.disease_diagnosed}}</a><br>
{{/each}}
</div>